<div class="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="/posts">
          <img src="/assets/images/icon_only_150.png" width="30" height="30" class="header-icon d-inline-block align-top" alt="">
          <img src="/assets/images/LocalPosts_800.png" width="140" height="35" class="d-inline-block align-top" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/assets/images/message.png" width="20" height="20">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/assets/images/search_icon.png" width="20" height="20">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/postsonmap">
                        <img src="/assets/images/location_icon.png" width="20" height="20">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/categories" routerLinkActive="active">
                        <img src="/assets/images/plus.png" width="20" height="20">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <img src="/assets/images/settings.png" width="20" height="20">
                    </a>
                </li>
            </ul>    
        </div>
    </nav>
</div>

