<div class="share">
   <div class="container mt-3">
           <form>
                <div class="row justify-content-center">
                    <div class="share-box col-md-7 grey-backgound box-shadow animate__animated animate__lightSpeedInRight">
                        <div class="form-group">
                            <div class="row col-12 col-sm-12 col-md-12 pt-2">
                                <div class="col-3 col-sm-2 col-md-2 rounded-circle text-center user-image pr-0 pr-sm-1 pl-0 pl-sm-1">
                                    <img src="/assets/images/user_icon.png" alt="" class="rounded-circle">
                                </div>
                                <div class="col-9 col-sm-10 col-md-10 arrow-label-one arrow-label-two">
                                    <textarea class="form-control" placeholder="whats new?" rows="3"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row col-12 col-sm-12 col-md-12">
                                <div class="col-2 col-sm-2 col-md-2 pr-1 pl-1 add-content-container">
                                   <span class="add-content-title">Add:</span>
                                </div>
                                <div class="col-10 col-sm-10 col-md-10">
                                    <input type="file" class="hide" accept="image/*" #imageupload>
                                    <button type="button" class="btn" (click)="imageupload.click()">
                                        <img src="/assets/images/photo_icon.png" class="image-upload ml-1 mr-1"> Photo
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row col-12 col-sm-12 col-md-12">
                                <div class="col-2 col-sm-2 col-md-2 pr-1 pl-1 add-content-container">
                                   <span class="add-content-title">To:</span>
                                </div>
                                <div class="row col-10 col-sm-10 col-md-10">
                                    <div class="col-7 col-sm-7 col-md-7 col-lg-6">
                                        <select class="form-control">
                                            <option>Default select</option>
                                        </select>
                                    </div>
        
                                    <div class="col-3 col-sm-3 col-md-3 col-lg-4">
                                        <button type="button" class="btn btn-green pl-sm-5 pr-sm-5">
                                            Share
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
           </form>  
    </div>
</div>

