<section class="section-header app-green-backgound">
    <div class="heading-box">
        <h1 class="heading-primary">
            <span>{{post?.subject}}</span>
        </h1>
        <div class="heading-box__group">
                <div class="heading-box__detail">
                    <fa-icon [icon]="faCalendar" style="font-size:22px;color:#fff"></fa-icon> 
                    <span> {{ post?.publishDate | date: 'd/M/yy, h:mm a' }} </span>
                </div>
                <div class="heading-box__detail">
                    <fa-icon [icon]="faMapMarkerAlt" style="font-size:22px;color:#fff"></fa-icon>
                    <span> {{ post?.distance | distance }} </span> 
                </div>
        </div>
    </div>
</section>

<section class="section-description">
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 text-center part1">
                <div class="overview-box">
                    <h2 class="heading-secondary"> Quick facts </h2>
                    <div class="overview-box__group">
                        <div class="overview-box__detail">
                            <fa-icon [icon]="faThumbsUp" 
                                [ngStyle]="{ 'color' : '#6dbe90' }">
                            </fa-icon>
                            <span class="overview-box__label"> number of likes </span>
                            <span class="overview-box__text"> {{ post?.numberOfLikes }} </span>
                        </div>
                        <div class="overview-box__detail">
                            <fa-icon [icon]="faComments" 
                                [ngStyle]="{ 'color' : '#6dbe90' }">
                            </fa-icon>
                            <span class="overview-box__label"> number of comments </span>
                            <span class="overview-box__text"> {{ post?.numberOfComments }} </span>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="col-6 col-sm-6 col-md-6 text-center part2">
                 <div class="heading-box__img">
                    <img class="rounded-circle" [attr.src]=" post?.imageCover ? backEndUrl+post.imageCover : defulPhoto"
                    (error)="errorImgHandler($event)">                
                 </div>
                 <div class="overview-box__detail">
                    {{ post?.description }}
                 </div>
            </div>
        </div>
    </div>
</section>

<section class="section-map" *ngIf="post">
    <app-map [posts]="[post]"></app-map>
</section>

<section class="section-commints">
    <app-comments [commentEvent]="commentEvent" [postId]="id"></app-comments>
</section>



