<div class="comments" *ngIf="visible">
    <div class="row grey-backgound">
        <div class="container mt-3">
            <form [formGroup]="postCommentFormGroup" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <div class="col-12 col-sm-12 col-md-12">
                        <div class="row">
                            <div class="col-2 col-sm-1 col-md-1 rounded-circle p-0 user-image">
                                <img src="/assets/images/user_icon.png" alt="" class="rounded-circle">
                            </div>
                            <div class="col-9 col-sm-10 col-md-10 arrow-label-one arrow-label-two">
                                <textarea class="form-control" formControlName="postComment"
                                 name="postComment" rows="1"></textarea>
                            </div>
                            <div class="col-1 col-sm-1 col-md-1 p-0">
                                <div class="triangle" (click)="onSubmit()"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <app-comment *ngFor="let comment of comments" [commentData]="comment"></app-comment>
</div>

