

input[type='password'], input[type='email'] {
    background-size: 15px 15px;
    background-position: 97%;
    background-repeat: no-repeat;
}


input[type='password'] {
   background-image: url("/assets/images/padlock.png");
}

input[type='email'] {
   background-image: url("/assets/images/at.png");
}

.submit {
   background-color: #414042;
   border: 1px solid #414042;
   color: white;
   text-align: center;
}

.feedback {
   color: red;
}

 .login .container .login-box {
   margin-top: 15%;
   max-width: 596px;
   height: 300px;
   border: 1px solid #9C9C9C;
   background-color: #EAEAEA;
 }

 .login-form {
    padding: 10%;
 }

 .login .form-title {
    color: #414042;
    margin-bottom: 5%;
 }
