<app-share></app-share>

<div class="posts">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="card col-md-7 box-shadow mb-4 animate__animated animate__slideInDown" *ngFor="let post of posts">
                <div class="row text-center">
                    <div class="card-header col-md-12 col-lg-12 p-0">
                         <img src="/assets/images/pushpin_icon.png" alt="pushpin_icon">
                    </div>
                </div>

                <div class="row">
                    <div class="card-image col-md-4 col-lg-2 text-center">
                        <img [attr.src]=" post.photo ? post.photo : defulPhoto"
                         alt="Card image">
                    </div>
                    <div class="card-body col-md-7 col-lg-10">
                        <h4 class="card-title">{{ post.title }}</h4>
                        <p class="card-text">{{ post.text }}</p>
                        <a href="#" class="card-link">More</a>
                    </div>  
                </div>

                <div class="row card-footer">
                    <div class="col-6 col-sm-4 offset-sm-2">
                        <small class="text-muted">{{ post.date }}</small>
                    </div>

                    <div class="col-6 col-sm-4 offset-sm-2">
                        <small class="text-muted">{{ post.distance }}</small>
                    </div>  
                </div>
            </div>        
        </div>                
    </div>
</div>

 